.sandbox-bod-content{
    display: flex;
    justify-content: center;
    margin-top: 10vh;
    
}
.sandbox-body{
    display: flex;
    justify-content: center;

}

.prog-bar{
    position: relative;
    display: flex;
    height: 500px;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    width: 200px;
}