.sandbox-bod-content{
    display: flex;
    justify-content: center;
    margin-top: 10vh;
    
}
.sandbox-body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.prog-bar{
    position: relative;
    display: flex;
    height: 500px;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    width: 200px;
}
.add-task-button{
    display: flex;
    text-align: center;
    border: 1px solid black;
    width: 80px;
    font-size: 35px;
    height: 35px;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    user-select: none;

}
.add-task-button:hover{
    cursor: pointer;
    background-color: aquamarine;
}